<div>
  <%= f.label :sku, 'SKU' %> 
  <%= f.text_field :sku %>
</div>
<div>
  <%= f.label :name, 'Name' %> 
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :desc, 'Desc' %> 
  <%= f.rich_text_area :desc %>
</div>
<div>
  <%= f.label :origin_price, 'Origin Price' %> 
  <%= f.number_field :origin_price %>
</div>
<div>
  <%= f.label :selling_price, 'Selling Price' %> 
  <%= f.number_field :selling_price %>
</div>
<% if @resource.id.nil? %>
  <div>
    <%= f.label :product_images, 'Product Images' %> 
    <%= f.file_field :product_images, multiple: true %>
  </div>
<% end %>
  <%= f.label :status_event, 'Status Event' %> 
  <%= @resource.status %> => 
  <%= select_tag(:status_event, options_for_select(@allow_events), include_blank: true) %>   
</div>
<%= f.submit %>
