<div>
    <%= f.label :sku, 'SKU' %> 
    <%= f.text_field :sku %>
</div>
<div>
    <%= f.label :name, 'Name' %> 
    <%= f.text_field :name %>
</div>
<div>
    <%= f.label :desc, 'Desc' %> 
    <%= f.text_area :desc %>
</div>
<div>
    <%= f.label :origin_price, 'Origin Price' %> 
    <%= f.number_field :origin_price %>
</div>
<div>
    <%= f.label :selling_price, 'Selling Price' %> 
    <%= f.number_field :selling_price %>
</div>
<div>
    <%= f.label :status, 'Status' %> 
    <%= f.select(:status, options_for_select(@resource.aasm.events(permitted: true).map(&:name)), include_blank: true) %>   
</div>
<%= f.submit %>
