<!DOCTYPE html>
<html>
  <head>
    <title>Eslite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_staff %>
      <%= link_to "sign out", destroy_staff_session_path, method: :delete %>
    <% else %>
      <%= link_to "admin", admin_root_path %>
    <% end %>
    <p><%= flash[:notice] %></p>
    <p><%= flash[:error] %></p>
    <%= yield %>
  </body>
</html>
